{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
    News
{% endblock title %}
{% block content %}
    <h1>Все статьи ({{articles|length}})</h1>
    {% if articles %}
        {% for article in articles %}
        <a class="page-link text-dark text-start" href="/news/{{article.id}}">
        <h3>{{ article.heading|censor }}</h3>
        <p>{{article.date|date:"d M Y"}}</p>
        <p>{{ article.text|censor |truncatewords:20  }}</p>
        </a>
        <hr>
        {% endfor %}
    {% else %}
        <h1>Здесь пока ничего нет</h1>
    {% endif %}
    {% if page_obj.has_previous %}
        {% if page_obj.previous_page_number == 1 %}
            <a href="?page=1">1</a>
        {% else %}
            <a href="?page=1">В начало</a>
            ...
            <a href="?page={{ page_obj.previous_page_number}}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if page_obj.next_page_number != paginator.num_pages %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}"> В конец</a>
        {% endif %}
    {% endif %}
{% endblock content %}